<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name</label
      ><input
        class="form-control"
        type="text"
        (input)="onNameChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label for=""><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Date</label
      ><input
        class="form-control"
        type="date"
        (input)="onDateChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label for=""><b>Date</b></label>
      <div>
        {{ userdate | date: "dd MMMM yyyy" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Amount</label
      ><input
        class="form-control"
        type="number"
        (input)="onCurrencyChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label for=""><b>Amount</b></label>
      <div>
        {{ useramount | currency: "GBP":"symbol":"1.1-2" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Miles</label
      ><input
        class="form-control"
        type="number"
        (input)="onMilesChange($any($event.target).value)"
      />
    </div>
    <div class="col">
      <label for=""><b>Kilometers</b></label>
      <div>
        {{ userkm | convert }}
      </div>
    </div>
  </div>
</div>
